<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js">
    </script>
    <script type="text/javascript">
        var HelloCtrl = function ($scope) {
        };

        var HelloCtrl2 = function ($scope) {
        };
    </script>
</head>
<body ng-app ng-init="thing = {name : 'World'}">
    <h1>Hello, {{thing.name}}</h1>

    <div ng-controller="HelloCtrl">
        Say hello to: <input type="text" ng-model="name" />
        <h2>Hello, {{thing.name}}!</h2>
    </div>

    <div ng-controller="HelloCtrl2">
        Say hello to: <input type="text" ng-model="name" />
        <h2>Hello, {{name}}!</h2>
    </div>
</body>
</html>
